<!DOCTYPE html>
<html lang="en">
<head>
  <title>GST Demonstrator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>   
</head>
    
<body style="background:#282727; color:#FFFFFF">
<style type="text/css">
    .form-control {

        border-color:#595757;
        background:#595757; color: #FFFFFF;

    }
    
    .wrapper {
height: 500px !important;      
}


</style>
<div class="jumbotron text-center" style="background:#232222"><h2>GST Demonstrator</h2>
<nav><a href="/">Home</a> | <a href="/viewTable">View list</a></nav>    
</div>     
<div class="container">
  <div class="col-sm-4">
<div ng-app="" ng-init="price; gst">      
  <form action="/itemlist" method="get">  
    <div class="form-group">
      <label for="usr">Name of the item:</label>
      <input type="text" class="form-control" name="itemName" id="">
    </div>
    <div class="form-group">
      <label for="pwd">Price of the item:</label>
      <input type="number" ng-model="price" name="price" class="form-control" id="">
    </div>
    <div class="form-group">
      <label for="pwd">GST percentage:</label>
      <select class="form-control" ng-model="gst" name="gstSlab" id="">
        <option value=5>5 %</option>
        <option value=12>12 %</option>
        <option value=18>18 %</option>
        <option value=28>28 %</option>
      </select>
    </div>
    <div class="form-group">
      <input type="submit" value="Add item to list" class="btn btn-primary" style="margin-right:20px;margin-top:20px">
        <a href="http://api.mathjs.org/v4/?expr={{price}}/100*{{gst}}" class="btn btn-info" target="_blank" style="margin-top:20px">Calculate GST</a>
    </div>    
  </form>
 </div>
</div>      
   <div class="col-sm-8">
    <div class="wrapper">   
    <canvas id="gstChart" width="570" height="600"></canvas>
       </div>      
    </div>
    <div>
    <%var slabCntr1=0, slabCntr2=0, slabCntr3=0, slabCntr4=0;%>
       <%data.forEach(function(item){%>
        <%switch(item.gstSlab){
          case 5 : slabCntr1++%>
          <%break;
          case 18 : slabCntr2++%>
          <%break;
          case 12 : slabCntr3++%>
          <%break;
          case 28 : slabCntr4++%>
          <%break;
        }%>
       <%})%>
       <%var totalCount = slabCntr1+slabCntr2+slabCntr3+slabCntr4%> 
    </div>
</div>
<script>
    
var ctx = document.getElementById("gstChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["5% GST slab", "12% GST slab", "18% GST slab", "28% GST slab"],
        datasets: [{
            label: '',
            data: [Math.round(<%=slabCntr1*100/totalCount%>).toFixed(2), Math.round(<%=slabCntr2*100/totalCount%>).toFixed(2), Math.round(<%=slabCntr3*100/totalCount%>).toFixed(2), Math.round(<%=slabCntr4*100/totalCount%>).toFixed(2)],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        title: {
          display:true,
          text:'GST Slab of items in list in %',
          fontSize:15    
        }
    }
});
</script>
</body>
</html>
